.top-bar{
		background-color:#1A1B41;
		color:#FFFFFF;
}

.callout {
		background-color:#C2E7DA;
		margin-left:25%;
		margin-right:25%;
		margin-top:1%;
		margin-bottom:1%;
		font-size:16px;
		border-radius: 10px;
}

#roomButtons {
		border-style: solid;
		border-width: 1px;
		border-radius: 10px;
		width:600px;
	  	padding-top: 10px;
	  	padding-bottom: 10px;
}

table {
		margin: 10px;
		font-size: 16px;
		padding-left:80px;
		padding-right: 80px;
		padding-top: 25px;
		padding-bottom: 25px;
}

button {
		background-color:#A40E4C;
}

h5{
		font-size:30px;
}

.top-bar-left{
		background-color:#1A1B41;
}

.data-dropdown-menu{
		background-color:#1A1B41;
}

.menu-text{
		background-color:#1A1B41;
		color:#6290C3;
	  	font-size:20px;
}

.abc{
		background-color:#1A1B41;
		font-size:18px;
}

@font-face {
		font-family: Arial, Helvetica, sans-serif;
}

a {
		color:#CCE6F4;
	  	font-family: Arial, Helvetica, sans-serif;
	  	font-size: 20px;
}

h1 {
		font-family: Arial, Helvetica, sans-serif;
}

body {
		font-family: Arial, Helvetica, sans-serif;
		background-attachment: fixed;
		background-position: center;
		background-size: 450px 320px;
		background-repeat: repeat;
		font-size: 40px;
}

button{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 40px;
}


