{% extends "base.html" %}

{% block body %}
<br>
<center> <h6> Club Information </h6> </center>

<div class="callout">
	<form action="/clubInfo/" method="POST">
		<div class="row">
			<label>Club Name
				<input type="text" name="clubName" placeholder="Beyonce Fan Club" required>
			</label>
		</div>

		<div class="row">
			<label>Advisor Name
				<input type="text" name="adName" placeholder="Jim Cocoros" required>
			</label>
		</div>

		<div class="row">
			<label>Advisor Email
				<input type="email" name="adEmail" placeholder="coco@gmail.com" required>
			</label>
		</div>
		<center>
		<button type="submit" name="enter" class="button" id="clubRegister">Register</button>
		</center>
	</form>
</div>

{% endblock %}
