{% extends "base.html" %}

{% block body %}
<br>
<center> <h6> Club Information </h6> </center>

<div class="callout">
	<form action="/clubInfo/">
		<div class="row">
			<label>Club Name
				<input type="text" name="email" placeholder="debate@gmail.com">
			</label>
		</div>

		<div class="row">
			<label>Advisor Name
				<input type="text" name="email" placeholder="debate@gmail.com">
			</label>
		</div>

		<div class="row">
			<label>Advisor Email
				<input type="text" name="email" placeholder="debate@gmail.com">
			</label>
		</div>
		<center>
		<button type="submit" name="enter" class="button" id="clubRegister">Register</button>
		</center>
	</form>
</div>

{% endblock %}