{% extends base.html %}


<h5> Register </h5>
<br><br>
	<div class="callout">
		<form action="/clubInfo/">
		Club Name

		Advisor Email

		<div class="row">
			<label>Club Name
        				<input type="text" name="email" placeholder="debate@gmail.com">
      		</label>
		</div>
			
		<div class="row">
			<label>Advisor Name
        				<input type="text" name="email" placeholder="debate@gmail.com">
      		</label>
		</div>

		<div class="row">
			<label>Advisor Email
        				<input type="text" name="email" placeholder="debate@gmail.com">
      		</label>
		</div>

		<button type="submit" name="enter" class="button" id="clubRegister">Register</button>
	</form>
    

</div>