{% extends "base.html %}


{% block body %}


<h5> Add a Club </h5>
<div class="callout">
	<form>
		<div class="row">
          <div class="medium-6 columns">
            <label>Club Email
              <input type="email" name="email" placeholder="Enter club email..." required>
            </label>
            <label>Admin Level (choose 1 or 2)
              <input type="email" name="email" placeholder="Enter club email..." required>
            </label>
          </div>
          
          <button type="submit" name="enter" class="button" value="add">Add</button>
	</form>
</div>

{% endblock %}