{% extends "base.html" %}

{% block head1 %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/map2.js"></script>
{% endblock %}



{% block body %}
<br>
<center>
<svg id="vimage" height="350" width="850" style="border:1px solid;" xmlns="http://www.w3.org/2000/svg"> </svg>
</center>


{% endblock %}
