{% extends "base.html" %}

{% block body %}


<form action="/unreserve/" method="post">
<table>
  <thead>
    <tr>
      <th width="100">Room Number</th>
      <th width="100">Date</th>
      <th width="100"> Unreserve</th>
    </tr>
  </thead>
  <tbody>
  	{% for entry in message %}
  		<tr id="{{entry[0]}}/{{user}}"> 
  			<td> {{entry[0]}} </td>
  			<td> {{entry[2]}}/{{entry[3]}}/{{entry[4]}} </td>
        <td> <center> <button type="submit" name="room" value='{{entry[0]}}/{{entry[2]}}/{{entry[3]}}/{{entry[4]}}' class="alert button">Unreserve</button> </center></td>
  		</tr>
  	{% endfor %}
  </tbody>
 </table>
</form>


<script type="text/javascript" src="/static/js/myRooms.js"></script>
{% endblock %}