{% extends "base.html" %}

{% block body %}


<!--<form action="/unreserve/"> -->
<table>
  <thead>
    <tr>
      <th width="100">Room Number</th>
      <th width="100">Date</th>
      <th width="100"> Unreserve</th>
    </tr>
  </thead>
  <tbody>
  	{% for entry in message %}
  		<tr id="{{entry[0]}}/{{user}}"> 
  			<td> {{entry[0]}} </td>
  			<td> {{entry[1]}} </td>
        <td> <center> <button type="submit" id='{{entry[0]}}/{{user}}'name="room" value='{{entry[0]}}' class="alert button">Unreserve</button> </center></td>
  		</tr>
  	{% endfor %}
  </tbody>
 </table>
<!--</form>-->


<script type="text/javascript" src="/static/js/myRooms.js"></script>
{% endblock %}