{% extends "base.html" %}

{% block body %}
<center>
{% with message = get_flashed_messages() %}
    {% if message %}
    <p style="font-size:15px;">{{ message[0] }}</p>
    {% endif %}
    {% endwith %}
</center>

         <form class="form-signin" action="/signUp/" method="post" role="form">
             <center> <h2 class="form-signin-heading">Type in a Year</h2> </center>
             <input type="text" name="username" class="form-control" placeholder="Email address" required autofocus>
             <input type="hidden" name="password" class="form-control" placeholder="Password">
 
             <center><button class="btn btn-lg btn-primary btn-block" type="button">Submit </button></center>
         </form>


<table>
  <thead>
    <tr>
      <th width="100">Month</th>
      <th width="100">Day</th>
      <th width="100"> Room</th>
      <th width="100"> Club</th>
    </tr>
  </thead>
  <tbody id = "table-body">
  	{% for Mentry in message %}
    {% for entry in message[Mentry] %}
  		<tr id="{{Mentry}}">
        <td> {{Mentry}} </td> 
  			<td> {{entry[3]}} </td>
  			<td> {{entry[0]}} </td>
        <td> {{entry[1]}} </td>
  		</tr>
  	{% endfor %}
    {% endfor %}
  </tbody>
 </table>
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/archive.js"></script>
{% endblock %}