<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SU Room Reservations</title>
    <link rel="stylesheet" href="/static/foundation_custom/css/foundation.css">
    <link rel="stylesheet" href="/static/foundation_custom/css/app.css">
    <link rel="stylesheet" href="/static/css/base.css">

    {% block head1 %}
    {% endblock %}

    {% block style %}
    {% endblock %}
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">
            SU Room Reservations
          </li>
          <li class = "abc">
            <a href="/">Home</a>
          </li>
          <li class = "abc">
            <a href="/archive/">Archive</a>
          </li>
          {% if session.username and not session.admin %}
          <li class="abc">
            <a href="/roomSched/">Room Schedule</a>
          </li>
          <li class="abc">
            <a href="/myRooms/">My Rooms</a>
          </li>
	  {% if session.master %}
          <li class="abc">
            <a href="/blockRooms/">Blocked Rooms</a>
          </li>
          <li class="abc">
            <a href="/seeClubs/">See Clubs</a>
          </li>
	  {% endif %}
          <li class="abc">
            {% block head %}
	    {% if session.master %}
            <a href='/addClub/'>Approve a Club</a>
	    {% endif %}
            {% endblock %}
          </li>
	  {% endif %}

        </ul>
      </div>


      <div class="top-bar-right">
	<ul class="dropdown menu" data-dropdown-menu>
	  {% if session.username %}
          <li class="abc">
            <a href = "/settings/"> Settings </a>
          </li>
          <li class = "abc">
            <a href="/logout/"> Log Out </a>
          </li>
	  {% endif %}

      </div>
      </ul>
    </div>

    {% block body %}
    {% endblock %}
  </body>

  {% block bottom %}
  {% endblock %}

</html>
