{% extends "base.html" %}

{% block head1 %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block style %}
<link type="text/css" rel="stylesheet" href="/static/css/roomSchedule.css">
{% endblock %}

{% block body %}
<!-- <br>
     <center>
       <h1 id="month"> </h1>
     </center>
     <table id="cal">
       <tr id = "1stWeek"> </tr>
       <tr id = "2ndWeek"> </tr>
       <tr id = "3rdWeek"> </tr>
       <tr id = "4thWeek"> </tr>
       <tr id = "5thWeek"> </tr>
     </table> -->
<br/>
<h5><center> {{action}} </h5> </center>
<br>
<center>
  <div class = "container">
    <div class="month">
      <ul>
	<li class="prev">&#10094;</li>
	<li class="next">&#10095;</li>
	<li class="m"></li>
	<li class="y"></li>
      </ul>
    </div>

    <ul class="weekdays">
    </ul>

    <ul class="days">
    </ul>
</center>
</div>
<br> <br>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/roomSchedule.js"></script>
{% endblock %}
